body {
    background-color: #ffffff;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

p {
    margin: 0px 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
nav {
    background-color: #13589d;
    padding: 10px;
}
